
#navbar {
    background: var(--color-background2);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    width: 100%;    
    margin: 0;
    border-bottom: 1px solid #fff;
}

#navbar div {
    width: 100%;
    height: auto;
    display: block;
    margin: 10px auto auto 30px;
}

#navbar img {
    width: 75px;  
    height: auto;
}

#navbar ul a {
    text-decoration: none;
    color:  #04660E;
    padding: 10px 30px;
    border-radius: 6.5px;
    margin: 10px 20px;
}

#navbar ul a:hover {
    color: white;
    background-color:  #04660E;
    border-radius: 6.5px;
    transition: 0.3s;
    margin: 10px 20px;
    padding: 10px 30px;
    width: 100%;
    cursor: pointer;
}

ul {
    display: flex;
    justify-content: space-between;
}

li {    
    list-style-type: none;    
    margin: 50px;
    text-align: center;
}







body{
    background: var(--color-background2);
    width: 100vw;
    height: 100vh;
}

header{
    width: 100%;
    height: 17vh;
    border-bottom: 1px solid white;
}

div.container{
    width: 100%;
    height: 83vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#box{
    width: 80%;
    max-width: 1000px;
    height: 80%;
    background-color: #fff;
    display: flex;

}

div#form{
    width: 40%;
    border-right: 1px solid rgba(0,0,0,.6);
    padding: 20px;
}

div#form h1{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 35px;
}

hr{
    background: #04660E;
    border: none;
    width: 50%;
    height: 2px;
    margin-left: 35px;
}



div#formulario{
    width: 80%;
    margin: 50px auto;

}

input.contato{
    position: relative;
    width: 100%;
    height: 25px;
    border: none;
    border-bottom: 2px solid rgba(0,0,0,.6);
    margin-bottom: 50px;
    padding: 5px 0px;
    outline: none;
}

.box-input{
    position: relative;
}

.box-input label{
    color: rgba(0,0,0,.6);
    position: absolute;
    left: 0;
    display: inline-block;
    pointer-events: none;
    transition: 0.5s;
}

div#mensagem{
    width: 60%;
    display: flex;
    flex-direction: column;

}

.box-input input:focus ~ label,
.box-input input:valid ~ label

{
    transform: translateY(-24px);
    color: #04660E;
    font-size: 10pt;
}

.box-input input:focus,
.box-input input:valid{
    border-bottom: 2px solid  #04660E;
}

textarea{
    width: 85%;
    height: 90%;
    margin: 0 auto;
    padding-top: 20px;
    border: none;
    outline: none;
    resize: none;
}
button#enviar{
    width: 100%;
    height: 10%;
    background-color: black;
    border: none;
    color: white;
    font-size: 18pt;
}

header img{
    height: 50%;
}

input#captcha{
    margin-left: 35px;
}

@media(max-width: 600px){
    div#box{
        display: flex;
        flex-direction: column;
    }

    div#form{
        width: 80vw;
        border: none;
    }

    div#formulario{
        margin-top: 30px;
        margin-bottom: 15px;
    }

    div#formulario input{
        margin-bottom: 30px;
    }
    div#mensagem{
        width: 80vw;
        align-items: center;
        height: 40%;
    }

    textarea{
        width: 70%;
        min-width: 60%;
    }

    button#enviar{
        height: 30px;
    }
}