/* Estrutura geral */

body, html {
	height: 100%;
	font-family: "Roboto-Regular";
}

* {
	margin: 0;
	padding: 0; 
	box-sizing: border-box;
}

@font-face {
	font-family: "Roboto-Regular";
	src: url("../fontes/Roboto-Regular.woff");
}

header {
	display: flex;
	justify-content: space-between;
	height: 139px;
	width: 100%;
}

header a {
	color: #04660E;
	font-size: 28px;
	text-decoration: none;
}

header ul {
	display: flex;
	justify-content: space-around;
  	align-items: center;	
	list-style: none;
	/*width: 50%;*/
}

header li {
	margin-right: 30px;
}

header img {
	width: 150px;
	max-width: 100%;
	height: auto;
	margin: 20px 40px;
	padding: 20px;
}

.botao {
	border: 2px solid #04660E;
	border-radius: 25px;
	padding: 10px 60px;
	width: 270px;
}


/* Efeito Parallax */

.imagem1 {
	background-image: url("../imagens/1.jpg");
}

.imagem2 {
	background-image: url("../imagens/2.jpg");
}

.imagem3 {
	background-image: url("../imagens/3.jpg");
}

.imagem1, .imagem2, .imagem3 {
	position: relative;
	height: 100%;
	opacity: 0.7%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}