body{
    background-image: url("../imagens/img-de-fundo.jpeg");
    width: 100%;
    max-height: 100vh;

    
}

div#container{
    width: 80%;
    height: 80vh;
    display: flex;
    margin: auto;
    border-radius: 15%;
    margin-top: 30%;
    transform: translateY(-50%);

}

.branco{
    width: 60%;
    height: 100%;
    background: #ffffff;
    border-radius:15% 0 0 15%;
    text-align: center;
    padding: 30px;
}

.verde{
    width: 40%;
    height: 100%;
    background:green;
    border-radius: 0 15% 15% 0;
}

.branco input{
    outline: none;
    background: rgba(0, 0, 0, .05);
    border: none;
    padding: 10px;
    color: rgba(0, 0, 0, .1);
    border-radius: 10px;
    width: 100%;
    margin-bottom: 15px;
}

form{
    width: 65%;
    margin: 150px auto 10px auto;
}

.branco h2{
    color: #8DB892;
}